
body{
    background: linear-gradient(-45deg, #4d7ba7, #464445, #23a6d5, #23d5ab);
    background-size: 400% 400%;}
    
    
.container {
    max-width: 600px;
    min-height: 540px;
    margin: 100px auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .input {
    display: flex;
    margin-bottom: 20px;
  }
  
  #task-input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #14aa4e;
    border-radius: 10px;
    font-size: 16px;
  }
  
  #btn {
    margin-left: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  #list {
    list-style-type: none;
    padding: 0;
  }
  
  #list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  #list li button {
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
  }
  #list li button::before{
    background-color: #1c12a3;
  }

